<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE ]><link rel="shortcut icon" type="image/x-icon" href="/app/icon.ico" sizes="16x16" /><![endif]-->
    <!--[if !IE]><!--><link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;" sizes="16x16" /><!--<![endif]-->
    <title>AC Torque Helper</title>
    <style><%= compilation.assets['dist.css'].source() %></style>
  </head>
  <body>
    <script><%= compilation.assets['dist.js'].source() %></script>
  </body>
</html>